
#scoreBoard{
    position:absolute;
    top:10px;
    left:40%;
    background:white;
    padding: 8px 20px;
    border-radius:20px;
    font-size: 24px;
}
#gameArea{
    position:relative;
    width:100%;
    height:90vh;
    overflow:hidden;
}
#bow{
    position:absolute;
    left:20px;
    top:50%;
    font-size:50px;
    transform: translateY(-50%);

}
#arrow{
    position:absolute;
    left:70px;
    top:50%;
    width:60px;
    height:4px;
    display:none;
}

#target{
    position:absolute;
    right:50px;
    top:120px;
    width:60px;
    height:60px;
    border-radius:50%;
    background: red;
}
#arrowsLeft{
    position:absolute;
    top:10px;
    right:40px;
    background:white;
    padding: 8px 20px;
    border-radius:20px;
    font-size: 24px;
}
body{
    background-color: skyblue;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
