body{
    background-color: aquamarine;
    margin:0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#score{
    text-align:center;
    font-size:30px;

}
#bow{
        display:flex;
       margin-top:250px;
}

#dart{
    width:100px;
    height:100px;
    background-color: black;
    border-radius:50%;
    margin-left:80%;
    animation: dartMove 2s linear infinite;
   
}
@keyframes dartMove {
    0% { transform: translateY(0); }
    100% { transform: translateY(-500px); }
    
}
